/* BASICS */
@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url('../fonts/Avant\ Garde/AvantGardeCE-Demi.eot');
    src: url('../fonts/Avant\ Garde/AvantGardeCE-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avant\ Garde/AvantGardeCE-Demi.woff2') format('woff2'),
        url('../fonts/Avant\ Garde/AvantGardeCE-Demi.woff') format('woff'),
        url('../fonts/Avant\ Garde/AvantGardeCE-Demi.ttf') format('truetype'),
        url('../fonts/Avant\ Garde/AvantGardeCE-Demi.svg#AvantGardeCE-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@property --color-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: rgb(0, 0, 0);
}
@property --color-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: rgb(0, 0, 0);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'ITC Avant Garde Gothic', sans-serif;
}
:root {
    --main-color: #60EBA8;
    --secondary-color: #3fd7eb;
    --linear-top: #C743A2;
    --linear-bottom: #E82E2E;
    --bubble-top: #FFFFFF;
    --bubble-bottom: #00000000;
    --font-light: rgb(231, 231, 231);

    --bubble-tiny: 30px;
    --bubble-small: 50px;
    --bubble-medium: 125px;
    --bubble-large: 225px;

    --font-size-smallest: 10px;
    --font-size-small: 14px;
    --font-size-medium: 20px;
    --font-size-larger: 28px;
    --font-size-largest: 30px;
}
html {
    color-scheme: dark light;
}
img,
.bottle svg {
    width: 100%;
}
body {
    color: black;
    text-align: center;
    background-image: linear-gradient(80deg, var(--linear-bottom), var(--linear-top));
}

/* HEADER SECTION*/
header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 1rem 1rem 0;
    position: sticky;
    top: 0;
    height: calc(75px - 1rem);
    z-index: 10;
    color: white;
}
header h3 {
    font-size: var(--font-size-small);
    text-align: start;
}
.logo {
    width: 30px;
}
nav {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    gap: .2rem;
    font-size: 10px;
}
nav a {
    position: relative;
}
nav a::after {
    content: '';
    background-color: var(--main-color);
    height: 4px;
    width: 4px;
    position: absolute;
    bottom: 35%;
    right: 0;
    transition: .3s;
    opacity: 0;
    border-radius: 50%;
}
nav a:hover::after {
    transform: translateX(10px);
    opacity: 1;
}
a {
    text-decoration: none;
    color: var(--font-light);
    transition: .3s;
    cursor: pointer;
}
a.active {
    font-size: calc(var(--font-size-smallest) + 2px);
    color: var(--main-color) !important;
}
.navlinkhome {
    display: none;
}
/* HOME SECTION */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: calc(100svh - 75px);
    overflow: hidden;
}
.title {
    text-align: center;
    position: relative;
    margin-top: 25vh;
}
h1 {
    font-size: var(--font-size-largest);
}
.highlight {
    position: relative;
    background: var(--main-color);          /* firefox backup */
    background-image: linear-gradient(0deg, var(--color-1), var(--color-2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    isolation: isolate;
    z-index: 1;
    animation: hue 2s 1.2s forwards;
}
@keyframes hue {
    100% {
        --color-1: var(--main-color);
        --color-2: var(--secondary-color);
    }
}

.home a {
    display: flex;
    align-items: center;
    justify-content: stretch;
    outline: transparent;
    border: 1px solid var(--main-color);
    position: absolute;
    bottom: 8rem;
    box-shadow: 0 4px #0000003a;
    border-radius: 25px;
    z-index: 1;
    color: black;
    background-color: transparent;
    isolation: isolate;
    cursor: pointer;
    font-size: var(--font-size-smallest);
}

.home a span {
    background-color: var(--main-color);
    border-radius: 25px;
    padding: .5rem .8rem;
}

.home a svg {
    padding: .4rem;
    transition: .3s;
}
.home a::after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 60%;
    background-color: var(--main-color);
    border-radius: 25px;
    transition: .3s;
}
.home a:hover::after {
    width: 100%;
}
.home a:hover svg {
   padding-left: 0;
}

.location { 
    position: absolute;
    bottom: 4.3rem;
    left: -1rem;
    transform: rotate(-90deg);
    font-size: var(--font-size-small);
}
.scroller {
    position: absolute;
    right: 1.5rem;
    bottom: 2rem;
    height: 40px;
}
#scroller {
    animation: bounce 5s infinite ease-in-out;
}
@keyframes bounce {
	0%, 60%, 80%, 100% {transform: translateY(0);}
    75% {transform: translateY(5px)}
	90% {transform: translateY(20px);}
}

/* ABOUT SECTION */
.about {
    position: relative;
    padding: 8rem 3rem ;
    background-image: linear-gradient(#00000000 40%, #000000);
    /* max-width: 800px; */
}
.about p {
    max-width: 1200px;
    margin: 0 auto;
}
h2 {
    color: var(--main-color);
    font-size: var(--font-size-medium);
    text-shadow: 0 4px #0000003a;
}
.about p {
    font-size: var(--font-size-larger);
}
.mask {
    overflow: hidden;
}
.margin {
    margin-top: 1rem;
}

/* PROJECTS SECTION */
.projects {
    background-color: black;
    padding-block: 6rem;
}
.projects-container {
    overflow-x: scroll;
    padding-top: 1rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.projects-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 70vw);
    gap: 1.5rem;
    width: 210vw;
    margin-right: 15vw;
    padding-inline: 15vw;
    z-index: 2;
}
.project {
    position: relative;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--font-light);
}
.project img {
    border-radius: 5px;
}
.desclinks a:nth-child(2) {
    background-color: var(--main-color);
    color: black;
    border-radius: 5px;
    padding: .2rem .5rem;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: var(--font-size-smallest);
}
.desclinks {
    display: flex;
    gap: .3rem;
}
.description {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 5fr 1fr;
    align-items: start;
}
.projectdescription {
    font-size: 14px;
    font-family: sans-serif;
    grid-column: 1 / span 2;
    margin-top: .5rem;
    color: rgb(184, 184, 184);
    line-height: 1.4;
}
.github {
    width: 23px;
    height: 23px;
}
.projects-container::-webkit-scrollbar {
    display: none;
}
.xxx1 {
    position: absolute;
    left: -1.3rem;
    top: 5%;
    opacity: .4;
}
.xxx2 {
    position: absolute;
    right: -5rem;
    bottom: 40%;
    opacity: .4;

}
/* SKILLS SECTION */
.skills {
    height: 400px;
    background-color: #000000;
    color: var(--font-light);
    font-size: var(--font-size-largest);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills img {
    scale: .8;
    position: absolute;
    top: 0;
    right: 0;
    opacity: .7;
    z-index: 0;
}
.skills h2,
.skills div {
    z-index: 1;
}
.row {
    width: max-content;
    padding-inline: 1rem;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.row-container {
    position: relative;
    height: 80px;
}
.row:nth-of-type(1) {
    top: 0;
    left: 60%;
}
.row:nth-of-type(2) {
    bottom: 0;
    right: 60%;
}

/* CONTACT SECTION */
.contact {
    background-color: black;
    color: var(--font-light);
    padding: 6rem 2rem 4rem;
    position: relative;
}
.contact h2 {
    margin-top: 6rem;
}
.calltoaction {
    margin: 1rem auto 2rem;
    font-size: var(--font-size-medium);
    max-width: 600px;
}
form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: start; 
    margin: 0 auto;
}
label {
    margin: 1.5rem 0 .3rem;
    font-size: var(--font-size-small);
}
input,
textarea {
    background-color: #4848483b;
    border-radius: 5px;
    outline: none;
    border: 1px solid #696969;
    padding: 1rem;
    color: whitesmoke;
    resize: none;
}
form button {
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 1rem;
    padding: .5rem;
    width: fit-content;
    align-self: end;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: black;
    font-size: var(--font-size-smallest);
}
form button svg {
    height: 14px;
}
#windmill {
    opacity: .4;
    scale: 1.2;
}

/* FOOTER */
footer {
    background-color: black;
    color: var(--font-light);
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 300px;
    background-image: url('../images/amsterdam.svg');
    background-repeat: repeat-x;
    background-position: bottom center;
}
.links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-block: 1rem;
}
footer a {
    color: var(--font-light);
    display: flex;
}
footer path {
    fill: var(--main-color);
}
.waldo {
    font-size: var(--font-size-smallest);
}
.videoModal {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000099;
    z-index: 100;
}
.close {
    display: flex;
    top: 2rem;
    right: 2rem;
    gap: .5rem;
    color: white;
    width: max-content;
    cursor: pointer;
}
video {
    width: 90%;
}
/* MEDIA QUERIES */
@media screen AND (min-width: 768px) {
    :root {
        --bubble-tiny: 40px;
        --bubble-small: 80px;
        --bubble-medium: 200px;
        --bubble-large: 325px;

        --font-size-smallest: 14px;
        --font-size-small: 16px;
        --font-size-medium: 24px;
        --font-size-larger: 36px;
        --font-size-largest: 50px;
    }
    header h3 {
        font-size: var(--font-size-medium);
        text-align: start;
    }
    .about {
        padding-inline: 5rem
    }
    .row-container {
        height: 120px;
    }
    .overlay {
        height: 300px;
    }
    .skills {
        padding-bottom: 0;
    }
    .skills img {
        max-height: 400px;
        scale: .9;
    }

    .projects-container {
        padding: 2rem 4rem;
        max-width: 1000px;
        margin: 0 auto;
    }
    .projects-content {
        max-width: 100%;
        grid-template-columns: repeat(3, 1fr);
        padding-inline: 0;
        gap: 2rem;
    }
    .xxx1 {
        left: -5rem;
        
    }
    #windmill {
        scale: 1.5;
    }
    .contact {
        padding-inline: 4rem;
    }
    nav { 
        font-size: 12px;
    }
}

@media (orientation: landscape) AND (max-width: 900px) {
    .home {
        min-height: 150svh;
    }
}

@media (min-width: 1024px) {
    :root {
        --font-size-larger: 46px;
        --font-size-largest: 60px;
    }
    
    .row-container {
        height: 140px;
    }
    .expanding-dot {
        width: 240px;
        right: 200px;
        bottom: 8px;
    }
    .skills {
        height: 420px;
    }
    .skills img {
        scale: .9;
    }
    .about {
        background-image: linear-gradient(#00000000 10%, #000000);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #60EBA8;
        --secondary-color: #3fd7eb;
        --linear-top: #C743A2;
        --linear-bottom: #E82E2E;
        --bubble-top: #FFFFFF;
        --bubble-bottom: #00000000;
        --font-light: rgb(231, 231, 231);
    }
}